<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/styleGrades.css">
    <link rel="ICON" href="../../../static/img/logonaciones.png">
    <title>Colegio Naciones Unidas I.E.D - Notas</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <img src="../../../static/img/logonaciones.png" alt="Logo-Empresa">
                <h1 class="title">Colegio Naciones Unidas I.E.D</h1>
            </div>

            <button id="abrir" class="abrirMenu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu" class="nav-bar">
                <button id="cerrar" class="cerrarMenu"><i class="fa-solid fa-x"></i></button>
                <ul class="nav">
                    <li><a href="indexTeacher.html" class="op">Inicio</a></li>
                    <li><a href="attendance.html" class="op1">Asistencia</a></li>
                    <li><a href="schedule.html" class="op2">Cronograma</a></li>
                    <li><a href="grades.html" class="op3">Notas</a></li>

                    <li class="menu-item">Mi cuenta<i class="fa-solid fa-user"></i>
                        <ul class="sub-menu">
                            <li><a href="profile.html">Mi Perfil</a></li>
                            <li><a href="">Cerrar <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                        </ul>
                    </li>

                    <li class="obse"><a href="profile.html">Mi Perfil</a></li>
                    <li id="obse" class="obse"><a href="#">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="title-img">
            <h1>
                Notas
            </h1>
        </div>
    </main>

    <script src="../../../static/js/Script.js"></script>
</body>
</html>